body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
    height: 100vh; /* Занимаем 100% высоты видимой области */
    margin: 0; /* Убираем отступы по умолчанию */
}

.container {
    width: 80%;
    /* Убираем margin: 0 auto; чтобы контейнер не центрировался */
}

.profile-info-item, .profile-info p {
    margin-bottom: 20px;
}

.profile-info-item label, .profile-info p {
    font-weight: bold;
    display: block;
}

.profile-info-item input, .profile-info-item select {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    background-color: #555;
    color: #fff;
}

.profile-btn a, .logout-btn a, .btn.btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
}

.profile-btn a:hover, .logout-btn a:hover, .btn.btn-primary:hover {
    background-color: #0056b3;
}
