.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.slot-machine {
    display: grid;
    grid-template-columns: repeat(4, 60px); /* 4 столбца */
    grid-template-rows: repeat(3, 60px); /* 3 ряда */
    gap: 5px; /* Промежуток между ячейками */
}

.reel {
    display: flex;
    flex-direction: column;
}

.slot {
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot.win {
    color: red;
}

button, #balance, #result, #roundInfo {
    margin-top: 20px;
    font-size: 1.5rem;
}

#spinBtn {
    padding: 10px 20px;
    cursor: pointer;
}
