<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список картинок слотов</title>
    <link rel="stylesheet" href="Main.css">
</head>
<body>

<div class="top-panel">
    <a href="register" class="register-btn">Регистрация</a>
    <a href="login" class="login-btn">Вход</a>
</div>

<div class="sidebar">
    <div class="sidebar-content">
        <p>Казино</p>
        <p>Казино Live</p>
        <p>Акції</p>
        <p>Пошук</p>
        <p>Провайдери</p>
        <p>Лоббі</p>
        <p>Улюблені</p>
        <p>Популярні</p>
        <p>Купити бонус</p>
        <p>Слоти</p>
        <p>Джекпоти</p>
        <p>Рулетка</p>
        <p>Настільні ігри</p>
    </div>
</div>
<div class="reclama-container">
    <div class="reclama-row">
        <img src="https://casino.ua/minio/casino-team-files/promo-banners/wb2/730x320_mobile_banner_ua%20(2).jpg" alt="Reclama 1">
        <img src="https://casino.ua/minio/casino-team-files/promo-banners/playson/arizona/730x320_mobile_ua.png" alt="Reclama 2">
    </div>

    <h1 class="slots-heading">Slots</h1>
    <hr class="divider">

    <div class="slot-container">
        <div class="slot-row">
            <img src="https://casino.ua/minio/games/images/pragmatic-play/the-dog-house@1x.webp" alt="Slot 1">
            <img src="https://casino.ua/minio/games/images/endorphina/hell-hot-100@1x.webp" alt="Slot 2">
            <img src="https://casino.ua/minio/games/images/playson/-GIF/coin-strike-hold-and-win.gif" alt="Slot 3">
            <img src="https://casino.ua/minio/games/images/3-oaks/more_magic_apple_icon_486x726_en@1x.webp" alt="Slot 4">
            <img src="https://casino.ua/minio/games/images/pateplay/-GIF/pure-ecstasy.gif" alt="Slot 5">
            <img src="https://casino.ua/minio/games/images/pragmatic-play/sweet-bonanza@1x.webp" alt="Slot 6">
            <img src="https://casino.ua/minio/games/images/spinomenal/-GIF/book-of-rebirth.gif" alt="Slot 7">
            <img src="https://casino.ua/minio/games/images/playson/burning-fortunator.jpg" alt="Slot 9">
            <img src="https://casino.ua/minio/games/images/playson/book-of-gold-multichance.jpg" alt="Slot 10">
            <img src="https://casino.ua/minio/games/images/pateplay/-GIF/sevens-play.gif" alt="Slot 11">
            <img src="https://casino.ua/minio/games/images/playson/book-del-sol-multiplier.jpg" alt="Slot 12 ">
            <img src="https://casino.ua/minio/games/images/spinomenal/-GIF/piggybank-stacked-fortune.gif" alt="Slot 13">
            <img src="https://casino.ua/minio/games/images/red-tiger/egypt-megaways@1x.webp" alt="Slot 14">
            <img src="https://casino.ua/minio/games/images/onlyplay/anubis-obelisk@1x.webp" alt="Slot 15">
            <img src="https://casino.ua/minio/games/images/platipus/7-hot-fruits.png" alt="Slot 16">
            <img src="https://casino.ua/minio/games/images/spinomenal/egyptian-rebirth-ii-frozen-flames.png" alt="Slot 17">
            <img src="https://casino.ua/minio/games/images/spinomenal/-GIF/majestic-wild-buffalo.gif" alt="Slot 18">
            <img src="https://casino.ua/minio/games/images/amusnet/40-super-hot@1x.webp" alt="Slot 19">
            <img src="https://casino.ua/minio/games/images/playson/hot-coins-hold-and-win.jpg" alt="Slot 20">
            <img src="https://casino.ua/minio/games/images/playson/jokers-coins-hold-and-win.jpg" alt="Slot 21">

        </div>
    </div>

    <hr class="divider">
    <h2 class="roulette-heading">Рулетки</h2>

    <div class="roulette-container">
        <div class="roulette-row">
            <img src="https://casino.ua/minio/games/images/evolution/first-person-roulette.png" alt="ruletka 1">
            <img src="https://casino.ua/minio/games/images/enjoygaming/x777-roulette-with-maria.png" alt="ruletka 2">
            <img src="https://casino.ua/minio/games/images/evoplay/american-roulette-3d@1x.webp" alt="ruletka 3">
            <img src="https://casino.ua/minio/games/images/netent/american-roulette.png" alt="ruletka  4">
            <img src="https://casino.ua/minio/games/images/beterlive/gravity-auto-roulette@1x.webp" alt="ruletka 5">
            <img src="https://casino.ua/minio/games/images/amusnet-live/live-speed-roulette@1x.webp" alt="ruletka  6">
            <img src="https://casino.ua/minio/games/images/evolution/auto-roulette-vip.png" alt="ruletka  7">
            <img src="https://casino.ua/minio/games/images/evolution/speed-auto-roulette.png" alt="ruletka  9">
            <img src="https://casino.ua/minio/games/images/beterlive/auto-roulette@1x.webp" alt="ruletka  10">
            <img src="https://casino.ua/minio/games/images/netent/french-roulette.png" alt="ruletka  11">
        </div>
    </div>
</div>

</body>
</html>
