<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot Machine Game</title>
    <link rel="stylesheet" href="/css/SlotMachine.css">
</head>
<body>
<div class="container">
    <div class="slot-machine">
        <div class="reel">
            <div class="slot">🍒</div>
            <div class="slot">🍋</div>
            <div class="slot">🍊</div>
        </div>
        <div class="reel">
            <div class="slot">🍋</div>
            <div class="slot">🍊</div>
            <div class="slot">🍇</div>
        </div>
        <div class="reel">
            <div class="slot">🍊</div>
            <div class="slot">🍇</div>
            <div class="slot">🍉</div>
        </div>
        <div class="reel">
            <div class="slot">🍇</div>
            <div class="slot">🍉</div>
            <div class="slot">🍏</div>
        </div>
    </div>
    <p>Баланс: <span id="balance">2000</span></p>
    <p id="result"></p>
    <p id="roundInfo">Текущий круг: 0. Выигрыш: 0</p>
    <button id="spinBtn">Spin</button>
</div>
<script src="/js/SlotMachine.js"></script>
</body>
</html>
